			#name-field {
				width: 420px;
				border-style: solid;
				border-width: 1px;
				border-top:0px;
				border-right: 0px;
				border-left: 0px;
				padding-left: 2%;
				margin-bottom: 3%;
			}

			.other-field {
				width: 150px;
				border-style: solid;
				border-width: 1px;
				border-top:0px;
				border-right: 0px;
				border-left: 0px;
				padding-left: 2%;
				margin-bottom: 3%;				
			} 

			.bottom-field {
				width: 250px;
				border-style: solid;
				border-width: 1px;
				border-top:0px;
				border-right: 0px;
				border-left: 0px;
				padding-left: 2%;
				margin-bottom: 0.5%;				
			} 

			.footer {
			    position: fixed;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    text-align: center;
			}
